@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic");
body {
  background-color: #441d2b;
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif; }

.keydown.deck-container {
  font-size: 1.25em;
  background: #441d2b; }
  .keydown.deck-container .slide {
    font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
    background: #441d2b;
    color: white; }
    .keydown.deck-container .slide.pretty * {
      font-weight: 300; }
    .keydown.deck-container .slide .content > * {
      font-family: "Source Sans Pro", "Helvetica Neue", sans-serif; }
  .keydown.deck-container h1, .keydown.deck-container h2, .keydown.deck-container h3, .keydown.deck-container h4, .keydown.deck-container h5 {
    font-weight: 300;
    color: white; }
  .keydown.deck-container a {
    color: #cccccc; }
    .keydown.deck-container a:hover {
      color: #d01e4e; }

.keydown.deck-container .slide .content .CodeMirror {
  background-color: #2e3336;
  border: 0 !important;
  font-family: Consolas, monospace; }
  .keydown.deck-container .slide .content .CodeMirror .CodeMirror-gutter {
    background-color: #3a4044 !important;
    border-right-color: #454d52 !important; }
  .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines {
    color: #f8f8f2; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-word {
      color: #F38630; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-null {
      color: #cccccc; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-keyword {
      color: #69D2E7; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-comment {
      color: #5d676d; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-number, .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .cm-string {
      color: #2EBF7E; }
    .keydown.deck-container .slide .content .CodeMirror .CodeMirror-lines .CodeMirror-cursor {
      border-left-color: white !important;
      border-left-width: 2px !important; }
