// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Source+Sans+Pro:400,700,400italic,700italic);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #cbcbcb;
$red: #D01E4E;
$purple: #441D2B;

$mainFont: 'Source Sans Pro', sans-serif;
$mainColor: #111;

$linkColor: $red;
$linkColorHover: lighten( $linkColor, 20% );

$headingFont: 'Montserrat', Impact, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: -0.03em;
$headingTextTransform: none;
$headingColor: #111;

$selectionBackgroundColor: #e7ad52;
$mainFontSize: 30px;


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal [data-background] {
  h1, h2, h3, h4, h5, h6, p {
    color: #fff;
  }
  a {
    color: #cbcbcb;
    border-bottom: 2px dashed #cbcbcb;
  }
}

.reveal section.left {
  text-align: left;
}

.reveal section img.plain {
  border: none;
  box-shadow: none;
}

.reveal .slides section .fragment.irrelevant.current-fragment {
  opacity: .4;
}
